{% extends 'base.html' %}

{% block content %}
  {{ message }}
  <form method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Producer name</label>
      <input name="name" id="name" required class="form-control">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">description</label>
      <input name="description" id="description" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="key" class="form-label">key</label>
      <input name="key" id="key" class="form-control" required>
    </div>
    <input type="submit" class="btn btn-primary" value="Add">
  </form>
{% endblock %}
