
{% extends 'base.html' %}

{% block title %}List of samples for sensor {{ sensor }}{% endblock %}

{% block content %}
    <a href="/sensors/"><- back to list of sensors</a><br/><br/>
    <table class="table table-striped">
      <tr>
        <th>timestamp</th><th>integer value</th><th>float value</th>
      </tr>
      {% for s in samples %}
        <tr>
          <td>{{ s.timestamp }}</td><td>{{ s.int_value }}</td><td>{{ s.float_value }}</td>
        </tr>
      {% endfor %}
    </table>
{% endblock %}
