
{% extends 'base.html' %}

{% block title %}List of samples for sensor {{ sensor }}{% endblock %}

{% block content %}
    <table class="table table-striped">
      <tr>
        <th>Producer Name</th><th>Sensor Name</th>
      </tr>
      {% for s in sensors %}
        <tr>
          <td>{{ s.producer.name }}</td>
          <td><a href="/sensors/{{s.id}}/samples">{{ s.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </body>

  <a class="btn btn-secondary" href="/">Home</a>
{% endblock %}
