
{% extends 'base.html' %}

{% block title %}List of samples for sensor {{ sensor.name }}{% endblock %}

{% block content %}
    <h2>Samples for sensor "{{ sensor.name }}" (producer "{{sensor.producer.name}}")</h2>
    {% if influxdb_url %}
    <a href="{{influxdb_url}}">Go to influxDB to plot graphs</a><br/><br/>
    {% endif %}
    <table class="table table-striped">
      <tr>
        <th>timestamp</th><th>integer value</th><th>float value</th>
      </tr>
      {% for s in samples %}
        <tr>
          <td>{{ s.timestamp }}</td><td>{{ s.int_value }}</td><td>{{ s.float_value }}</td>
        </tr>
      {% endfor %}
    </table>
    {% if page > 1 %}
      <a class="btn btn-primary" href="?page={{ page - 1 }}">Previous Page</a>
    {% endif %}
    {{ page }} / {{ num_pages }}
    {% if page < num_pages %}
      <a class="btn btn-primary" href="?page={{ page + 1 }}">Next Page</a>
    {% endif %}
    <br/><br/>
    <a class="btn btn-secondary" href="/sensors/">List of sensors</a>
    <a class="btn btn-primary" href="/sensors/{{ sensor.id }}/download_samples/0">Download samples (CSV format)</a>
    <a class="btn btn-primary" href="/sensors/{{ sensor.id }}/download_samples/1">Download samples (CSV format, de-duped)</a>
{% endblock %}
