{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input name="username" id="username" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <a class="btn btn-secondary" href="/">Home</a>
    <input type="submit" class="btn btn-primary" value="Log in">
  </form>
{% endblock %}
